body {
  margin: 0;
  font-family: sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.drop-zone {
  border: 2px dashed #888;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 10px;
  background: white;
}

.drop-zone input {
  display: none;
}

.preview {
  margin-bottom: 15px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

canvas {
  width: 100%;
}

.controls label {
  display: block;
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  background: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.dark {
  background: #111;
  color: white;
}
.range-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.range-group select {
  flex: 1;
  padding: 8px;
}

#resultContainer {
  margin-top: 20px;
}

.result-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.result-card img {
  width: 100%;
  border-radius: 8px;
}

.download-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
}
